<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__div">
                <ul class="header__list__nav">
                    <li class="header__item__nav">
                        <a href="/">Home</a>
                    </li>
                    <li class="header__item__nav">
                        <a href="/explore">Explore</a>
                    </li>
                    <li class="header__item__nav">
                        <a href="/addpost">Add a post</a>
                    </li>
                    <li class="header__item__nav">
                        <a href="/delete_post">Delete a post</a>
                    </li>
                    <li class="header__item__nav">
                        <a href="/all_users">All users</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</header>
<main>
    <section class="section__post">
        <div class="container">
            <ul class="section__post__list">
                <li class="section__post__item">
                    <h2><a class="register__btn" href="{{ url_for('profile.view_profile', id=post_author_id) }}">{{
                        post_author
                        }}</a></h2>
                    <br><br>
                    <h1 class="section__post__item__title">{{ title }}</h1>
                    <br>
                    <h3>{{ content }}</h3>
                    {% if image_url %}
                    <img class="section__post__item__img" src="{{ image_url }}" alt="Post image">
                    {% endif %}
                    {% if video_url %}
                    <iframe class="section__post__item__media__video"
                            src="{{ video_url }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    {% endif %}
                    {% if is_post_author %}
                    <a class="delete__post" href="{{ url_for('post.delete_post', id=id) }}">DELETE POST</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </section>
    <section class="section__post">
        <div class="container">
            <form class="form__comment" method="POST">
                <input type="hidden" name="post_id" value="{{ id }}">
                <label class="comment__label" for="comment">Your Comment:</label>
                <textarea class="comment__input" id="comment" name="comment" rows="6" required></textarea>
                <button class="submit__button form__comment__button" type="submit">Submit Comment</button>
            </form>
            <h3 class="comment__title">Comments:</h3>
            <ul class="section__post__list">
                {% for comment in comments|sort(attribute='id', reverse=True) %}
                <li class="section__post__item">
                    <h4><a class="register__btn" href="{{ url_for('profile.view_profile', id=comment['author_id']) }}">{{
                        comment['author_name'] }} </a></h4>
                    <h3 class="section__post__item__title">{{ comment['comment'] }}</h3>
                    {% if comment['user_id'] == user_id %}
                    <form action="{{ url_for('post.delete_comment', id=comment['id']) }}" method="POST"
                          style="display:inline;">
                        <button type="submit" class="delete__post">DELETE COMMENT</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>

</body>

</html>