<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <main class="register">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form class="form__register" action="{{ url_for('auth.register') }}" method="POST">
                <h1 class="register__main__title">X-Whisper</h1>
                <h3 class="register__title">Register</h3>
                <ul class="form__register__list">
                    <li class="form__register__item">
                        <label class="form__register__item__label" for="username">Username:</label>
                        <input class="form__register__item__input" type="text" id="username" name="username" required>
                    </li>
                    <li class="form__register__item">
                        <label class="form__register__item__label" for="email">Email:</label>
                        <input class="form__register__item__input" type="email" id="email" name="email" required>
                    </li>
                    <li class="form__register__item">
                        <label class="form__register__item__label" for="password">Password:</label>
                        <input class="form__register__item__input" type="password" id="password" name="password" required>
                    </li>
                    <li class="form__register__item">
                        <label class="form__register__item__label" for="confirm_password">Repeat password:</label>
                        <input class="form__register__item__input" type="password" id="confirm_password" name="confirm_password" required>
                    </li>
                    <li class="form__register__item">
                        <label class="form__register__item__label" for="dob">Date of birth:</label>
                        <input class="form__register__item__input" type="date" id="dob" name="dob" required>
                    </li>
                    <li class="form__register__item">
                        <label class="form__register__item__label" for="gender">Gender:</label>
                        <select class="form__register__item__input" id="gender" name="gender" required>
                            <option value="other">Other</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </li>
                </ul>
                <input class="form__register__btn" type="submit" value="Register">
            </form>
            <div class="register__link">
                <br>
                <h2>Already have an account?
                    <a href="{{ url_for('auth.login') }}" class="register__btn">Log in</a>
                </h2>
            </div>
        </div>
    </main>
</body>

</html>


